# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
#include <iostream>
#include<string>  
using namespace std;
int main()
{ 
 
	long long t, n,num,d=-9999999999;
long long k;
long long* arr;
cin >> t;
for (int i = 0; i < t; i++) {
	cin >> n >> k;
	arr = new long long[n];
	for (long long j = 0; j < n; j++) {
		cin >> num;
		arr[j] = num;
		if (arr[j] > d)
			d = arr[j];
	}
	//cout << d;
	for (long long  j = 0; j < n; j++) {
		arr[j] = d - arr[j];
	}
 
	if(k % 2 == 0){
		d = -9999999999;
		for (long long  j = 0; j < n; j++) {
			if (arr[j] > d)
				d = arr[j];
		}
		for (long long  j = 0; j < n; j++) {
			arr[j] = d - arr[j];
		}
	}
	for (long long  j = 0; j < n; j++) {
		cout << arr[j] << " ";
	}
	cout << endl;
	d = -9999999999;
}
 
	return 0;
}
